.left,
.right {
	width: 245px;
	height: 545px;
	outline: 1px solid blue;
	overflow: hidden;
}


div.third {
	position: relative;
	width: 772px;
	height: 545px;
	overflow: hidden;
	outline: 1px solid magenta;
}



.first,
.fourth,
.second,
.fifth {
	overflow: hidden;
}


.first,
.fourth {
	height: 245px;
}

.second,
.fifth {
	height: 300px;
}

.first img,
.fourth img {
	height: 245px;
}

.second img,
.fifth img {
	height: 300px;
}

div {
	display: inline-block;
}
 li {
 	list-style: none;
    margin: 0;
    padding: 0;
    outline: 1px solid green;
 }

 ul { 	
 	outline: 1px solid red;
 	padding: 0;
 	margin: 0;
 }

 .ul-center {
 	width: 772px;
 	position: absolute;
 	overflow: hidden;
 }



